# Java
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea
*.iml
*.iws
out/

# Eclipse
.project
.classpath

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs
logs/
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Linux
*~

# 图片资源
puzzlegame/image/
